/* Custom styles */
.analysis_on_off_chart{
	height:40%;
	width:1000px;
	text-align:center;
	overflow-x: scroll;
}

.analysis_container {
	width:100%;
    text-align:center;
}

.analysis_left {
    float:left;
    width:33.3%;
    height:40%;
}

.analysis_center {
    display: inline-block;
    margin:0 auto;
    width:33.3%;
    height:40%;
}

.analysis_right {
    float:right;
    width:33.3%;
    height:40%;
}