/* Custom styles */
.analysis_on_off_chart{
	height:300px;
	width:1000px;
	text-align:center;
	overflow-x: scroll;
}

.analysis_container {
	width:100%;
    text-align:center;
}

.analysis_left {
    float:left;
    width:500px;
    height:300px;
}

.analysis_center {
    display: inline-block;
    margin:0 auto;
    width:500px;
    height:300px;
}

.analysis_right {
    float:right;
    width:500px;
    height:300px;
}